@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-image: url("/images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(230, 100%, 99%);
  font-size: 15px;
}

@media screen and (min-with : 720px) {
  body{
    background-image: url("/images/bg-pattern.svg");
    background-repeat: no-repeat;
    background-color: hsl(230, 100%, 99%);
    background-size: cover;
  }
}
